.currency.dark input:invalid {
  background-color: red;
}

.currency.light input:invalid {
  background-color: red;
}

.currency input[type=number] {
  border: 2px solid lightsalmon;
  padding: 10px;
  margin: 20px;
  font-size: large;
  text-align: center;
}

.currency.dark input {
  background-color: black;
  color: white;
}

.container {
  font-size: 1cm;
}