input:invalid {
  background-color: red;
}

input[type=number] {
  border: 2px solid lightsalmon;
  padding: 10px;
  margin: 20px;
  font-size: large;
  text-align: center;
}

.container {
  border: 2px solid black;
  width: fit-content;
  position:relative;
  left: 45vw;
  top: 30vh;
}

.currency {
  font-size: 1cm;
}